@import './_variable.scss';

@mixin maxWidth($maxwidth) {
    @media (max-width: $maxwidth) {
        @content;
    }
}

@mixin minWidth($minwidth) {
    @media (min-width: $minwidth) {
        @content;
    }
}

@mixin _max-text($num) {
    -webkit-line-clamp: $num;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

@mixin _loading {
    .load.text-center {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 201;

        &.show {
            display: flex !important;
        }

        &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }

        p {
            color: #fff;
            z-index: 2;
        }

        img {
            z-index: 2;
            width: 100px;
        }
    }
}

@mixin font($fontfa, $fontsize, $color) {
    font-family: $fontfa;
    font-size: $fontsize;
    color: $color;
}

@mixin widthMinMax($minwidth, $maxwidth) {
    @media (min-width: $minwidth) and (max-width: $maxwidth) {
        @content;
    }
}

@mixin resizeImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin hiddenScroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexYCenter {
    display: flex;
    align-items: center;
}


@mixin flexXCenter {
    display: flex;
    justify-content: center;
}

@mixin resetInput {
    border: none;
    outline: none;
    background: 0 0;
    @include font(regular, $--font-size-p, $--text-color);
    padding-left: 10px;

    &::placeholder {
        @include font(regular, $--font-size-p-light, $--placeholder-color);
    }
}

@mixin resetTextare {
    border: none;
    outline: none;
    background: 0 0;
    @include font(regular, $--font-size-p, $--text-color);
    padding-left: 10px;
    resize: none;

    &::placeholder {
        @include font(regular, $--font-size-p-light, $--placeholder-color);
    }
}

@mixin resetBtn {
    border: none;
    outline: none;
    background: 0 0;
    @include font(regular, $--font-size-p, $--text-color);
}

@mixin paddingBotTop ($size) {
    padding: $size 0;


    @include maxWidth(991px) {
        padding: 20px 0;
    }

    @include maxWidth(767px) {
        padding: 15px 0;
    }
}

@mixin marginBottom ($size) {
    margin-bottom: $size;


    @include maxWidth(991px) {
        margin-bottom: 20px;
    }

    @include maxWidth(767px) {
        margin-bottom: 15px;
    }
}

@mixin cssNavOwlAboutIndex {

    .owl-next,
    .owl-prev {
        width: 40px;
        height: 40px;
        display: block;
        border-radius: 50%;
        background-color: $--color-white;
        color: $--main-color;
        font-size: 20px;
    }
}

@mixin cssAfterBg {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -20px;
    background: url("../images/bg-after-img.webp") no-repeat center center;
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
    display: block;
    z-index: -1;
}

@mixin cssOwlNavCertificate {
    .owl-nav {
        position: absolute;
        top: 35%;
        transform: translateY(-50%);
        left: 0;
        right: 0;

        .owl-next,
        .owl-prev {
            position: absolute;
            top: 0;
            background: 0 0;

            i {
                font-size: 25px;
                color: $--main-color;
            }

            &:hover {
                background-color: transparent;
            }
        }

        .owl-next {
            right: -25px;
        }

        .owl-prev {
            left: -25px;
        }
    }
}

@mixin cssFtItem {
    h3 {
        @include font(bold, $--font-size-p-extra, $--text-color);
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    p {
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;

        img {
            position: absolute;
            top: 7px;
            left: 0;
        }
    }
}

@mixin cssItemProject {
    position: relative;

            img {
                @include resizeImg;
            }

            >h3 {
                @include font(bold, $--font-size-p-extra, $--color-white);
                text-transform: uppercase;
                text-align: center;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding-bottom: 10px;
                @include _max-text(1);
                z-index: 1;
                transition: opacity 0.3s linear;
            }

            &:after {
                content: "";
                background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.9));
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 30%;
            }
}